extends layout

block content
  .container.mt-4
    h2.mb-4 Reporte de Quejas por Entidad

    if message
      .alert.alert-danger #{message}

    if report.length
      table.table.table-bordered
        thead.table-secondary
          tr
            th Entidad
            th Total Quejas
        tbody
          each row in report
            tr
              td= row.name
              td= row.dataValues.total_complaints
    else
      p.text-muted No hay quejas registradas.